body{
	text-align:center;
	font-family:arial;
	font-size:18px;
}

footer{
	font-family:arial;
 	font-size:14px;
   	position:absolute;
	bottom:0;
	width:99%;
	height:40px;
}

.leftContainer{
	top:50%;
	bottom:50%;
	float:left;
	width:20%;
	padding:50px;
	box-sizing: border-box;
}

.rightContainer{
	float:right;
	width:80%;
	background-color: #333333;
	color:#fff;
	padding:50px;
	box-sizing: border-box;
}